<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:method="POST" th:action="@{/registration}" th:object="${newuser}">

    <label for="firstName">Enter firstName:</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="lastName">Enter lastName:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="age">Enter age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>
    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="role">Enter USER or ADMIN :</label>
    <input type="text" th:field="*{role}" id="role"/>
    <br/>
    <input type="submit" value="Register"/>
</form>

</body>
</html>